<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>二维码生成</title>
    <link rel="stylesheet" href="css/qrcode.css">
    <script th:src="@{js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.qrcode.min.js}" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {

            $(".qrbtn").on("click", function () {
                let str = "http://" + $(".qrinput").val()
                $("#qrcode").empty().qrcode({
                    text: str, //解析成二维码的连接
                    // render: "table", //二维码的生成方式
                    width: 100, //生成二维码的宽度
                    height: 100, //生成二维码的高度
                    correctLevel: 0 //容错级别，默认为2，最高为3，为了让用户扫码最快，容错级别应当设为最低
                })
            })


        })
    </script>
</head>
<body>
<label>

    <input type="text" class="qrinput" placeholder="请输入要生成的网址">
</label>
<button class="qrbtn">生成</button>
<div id="qrcode"></div>
<span> 请用手机或其他设备扫描</span>
</body>
</html>